@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Sora", sans-serif;
        @apply w-screen min-h-screen max-h-max overflow-x-hidden m-0 border-none p-0 box-border bg-background_color-black_1 text-text_color-white_1;
    }

    ::-webkit-scrollbar {
        width: 1rem;
    }

    ::-webkit-scrollbar-track {
        border-radius: 0.2rem;
        background-color: #131517;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 0.2rem;
        background: #1E1F25;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #2A2B31;
    }

    * {
        @apply m-0 border-none p-0 box-border;
    }
}

@layer components {
    .loader {
        width: fit-content;
        font-size: 2rem;
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-weight: 800;
        clip-path: inset(0 100% 0 0);
        animation: loader-animation 2s steps(11) infinite;
    }

    .loader:before {
        content: "Loading..."
    }

    @keyframes loader-animation {
        to {
            clip-path: inset(0 -1ch 0 0)
        }
    }

    .spinner {
        aspect-ratio: 1;
        width: 2rem;
        border-radius: 50%;
        background: radial-gradient(farthest-side, #E9E9E9 94%, #0000) top/0.5rem 0.5rem no-repeat, conic-gradient(#0000 30%, #E9E9E9);
        animation: spinner-animation 1s infinite linear;
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 0.5rem), #000000 0);
    }

    @keyframes spinner-animation {
        100% {
            transform: rotate(1turn)
        }
    }

    .sidebar-list-item-hover:hover::after {
        position: absolute;
        right: 0;
        bottom: -2rem;
        width: 2rem;
        height: 2rem;
        border-top-right-radius: 1rem;
        box-shadow: 0 -1rem 0 0 #131517;
        background-color: transparent;
        content: "";
    }

    .sidebar-list-item-hover:hover::before {
        position: absolute;
        right: 0;
        top: -2rem;
        width: 2rem;
        height: 2rem;
        border-bottom-right-radius: 1rem;
        box-shadow: 0 1rem 0 0 #131517;
        background-color: transparent;
        content: "";
    }

    .sidebar-list-item-active::after {
        position: absolute;
        right: 0;
        bottom: -2rem;
        width: 2rem;
        height: 2rem;
        border-top-right-radius: 1rem;
        box-shadow: 0 -1rem 0 0 #131517;
        background-color: transparent;
        content: "";
    }

    .sidebar-list-item-active::before {
        position: absolute;
        right: 0;
        top: -2rem;
        width: 2rem;
        height: 2rem;
        border-bottom-right-radius: 1rem;
        box-shadow: 0 1rem 0 0 #131517;
        background-color: transparent;
        content: "";
    }
}